* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

html {
    display: flex;
    justify-content: center;
    /* background-image: url(/image/CSS\ background\ Animation1.png); */
    background-size: cover;
    background-repeat: no-repeat;
    background-color: aliceblue;

}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url(/image/CSS\ background\ Animation1.png);
    background-size: 100%;

    width: auto;
    height: 100vh;
}

.background-main {

    height: 500px;
    border: solid 1px gray;
    
}

.header {
    background-color: #35bf76;;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header>h2 {
    font-family: 'Roboto';
    color: white;
}

.content-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-left: 0px;
    width: 100%;
    /* background: aqua; */
    margin-top: 20px;
}

.content-right>h2 {
    font-size: 18px;
    font-weight: bold;
    font-family: 'Roboto',sans-serif;
}

.input-contact {
    width: 90%;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.input-contact>input {
    width: 49%;
    height: 40px;
    padding-left: 10px;
}


.input-number {
   width: 90%;
    margin-top: 30px;
}

.input-number>input {
    width: 550px;
    height: 40px;
    padding-left: 10px;
}

.text-content {
    margin-top: 30px;
}

textarea {
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 10px;
    width: 90%;
}

.btn-right {
    margin-top: 10px;
    width: 90%;
    display: flex;
    justify-content: start;
    flex-grow: 1;
}

.btn-right>button {
    border: 1px solid white;
    border-radius: 5px;
    height: 40px;
    width: 100%;
    background-color: #35bf76;
    color: white;
    opacity: 1;
}

.btn-right>button:hover {
    cursor: pointer;
    background-color: #434a6e;
    
   
}

